## <center>Tuple </center>
### <center>Author: e-Yantra Team </center>

## Topics to cover
- How to define tuple - tup = `()`
- Indexing, slicing, check membership
- length (`len`), compare (`cmp`), Iteration, min, max
- conversion to other datatype
    
## Definition
A tuple is a sequence of immutable Python data structure. 

## Key concepts
- Tuple are immutable i.e. elements inside tuple can not be changed
- A tuple can store elements of different datatype - string, integer, float etc
- tuple can be converted to other data types such as string.

In [1]:
tup_1 = ()        # defining empty tuple
tup_2 = (1947, 1950, 1962, 1965, 1971, 1999, 'e-Yantra', 2017.01) 
tup_3 = (50,)     # defining single element tuple

print (tup_1)
print (type(tup_1))
print (tup_2)
print (tup_3)

()
<class 'tuple'>
(1947, 1950, 1962, 1965, 1971, 1999, 'e-Yantra', 2017.01)
(50,)

## Accessing Elements of tuple

- Using slicing and indexing - as we did in string manipulation

In [2]:
tup_2 = (1947, 1950, 1962, 1965, 1971, 1999, 'e-Yantra', 2017.01) 

print (type(tup_2))
print (tup_2[0])
print (type(tup_2[0]))
print (tup_2[0:2])
print (tup_2[-3:])

<class 'tuple'>
1947
<class 'int'>
(1947, 1950)
(1999, 'e-Yantra', 2017.01)

## Updating tuple
- Updating exsisting tuple is not allowed. 
- New tuple can be creating by using exsisting tuple by using Concatenation operator

In [3]:
tup_1 = ()
tup_2 = (1947, 1950, 1962, 1965, 1971, 1999, 'e-Yantra', 2017.01) 

# tup_1[0]= 1          # Invalid Operation 

tup_1 = (1,2,3)

tup_3 = tup_1 + tup_2[2:4]
print (tup_3)

(1, 2, 3, 1962, 1965)

## Basic Tuple operation
- len
- min
- max
- Repetition
- Membership
- Iteration

In [4]:
tup_2 = (1947, 1950, 1962, 1965, 1971, 1999, 'e-Yantra', 2017.01, 258981, " ")
tup_3 = (1947, 1950, 1962, 1965, 1971, 1999, 2017.01, 258981)
tup_repeat = 4*(1947,)

#Min and Max functions can be used with elements of same type
print ("length of tuple: ", len(tup_2))
print ("min. value: ", min(tup_3)) 
print ("max. value: ", max(tup_3))
print ("repeat same element in tuple", tup_repeat)

length of tuple:  10
min. value:  1947
max. value:  258981
repeat same element in tuple (1947, 1947, 1947, 1947)

In [5]:
# check membership
tup_2 = (1947, 1950, 1962, 1965, 1971, 1999, 'e-Yantra', 2017.01)

print (1947 in tup_2)          # return true as 1947 is present in tup_2
print (2000 in tup_2)          # return false as 2000 in not present in tup_2
print (2000 not in tup_2)      # return true as 2000 in not present in tup_2

True
False
True

In [6]:
## Iterate through all the elements of tuple 
tup_2 = (1947, 1950, 1962, 1965, 1971, 1999, 'e-Yantra', 2017.01)

print ("Printing All elements of tuple")

for i in tup_2:
    print (i)

Printing All elements of tuple
1947
1950
1962
1965
1971
1999
e-Yantra
2017.01

## Conversion between tuple to string

In [7]:
string_to_tuple = tuple("e-Yantra")    # string to tuple
print ("String to tuple: ", string_to_tuple) 
print (type(string_to_tuple))

#how to convert back to string

print (str(string_to_tuple))
print (len(str(string_to_tuple))) #All the characters like e,',' etc. in tuple.

tuple_to_string = "".join(string_to_tuple)

print ("Tuple to string: ",tuple_to_string)  # tuple to string

String to tuple:  ('e', '-', 'Y', 'a', 'n', 't', 'r', 'a')
<class 'tuple'>
('e', '-', 'Y', 'a', 'n', 't', 'r', 'a')
40
Tuple to string:  e-Yantra